.Slider{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

  background: url('../../../assets//IMG/slider.jpg') no-repeat;
  background-size:cover  ;
  
}

.Slider::after{
  height: 800px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.Slider h2{
  z-index: 3;
}

.aboutUs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 300px;

}

.aboutUs h2{
  font-size: 35px;
}

.aboutUsMainContent{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.GamesCatalog{
  padding-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}