.NotFound{
    padding: 0;
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}

.NotFound a {
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #ffffff;
    margin-left: 30px;
    padding: 5px;
    border-radius:5px ;
    color: #fff;
}

.NotFound a:hover{
    background-color: #ffffff;
    color: #1D2533;
}