.SwitchLanguage>button{
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    font-size: 20px;
}

.SwitchLanguage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border: 1px solid #212121;
    font-size: 20px;
    border-radius: 5px;
}